<div class="flex gap-12 mt-12">
    <!-- service 1 -->
    <div
    class="block max-w-[18rem] rounded-lg bg-gray-200 text-left text-surface shadow-secondary-1 dark:bg-surface-dark dark:text-white">
        <div class="p-6">
            <h5 class="mb-1 text-xl font-medium leading-tight ">
            Civil Status
            </h5>
            <h6
            class="mb-2 text-base font-medium leading-tight text-surface/75 dark:text-neutral-300">
                Card subtitle
            </h6>
            <p class="mb-4 text-base leading-normal">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
            </p>
            <a
            type="button"
            routerLink="/civilStatus"
            class="pointer-events-auto me-5 text-blue-500 inline-block cursor-pointer rounded text-base font-normal leading-normal text-primary transition duration-150 ease-in-out hover:text-primary-600 focus:text-primary-600 focus:outline-none focus:ring-0 active:text-primary-700 dark:text-primary-400">
            Access
            </a>
            <a
            type="button"
            href="#"
            class="pointer-events-auto inline-block text-blue-500 cursor-pointer rounded text-base font-normal leading-normal text-primary transition duration-150 ease-in-out hover:text-primary-600 focus:text-primary-600 focus:outline-none focus:ring-0 active:text-primary-700 dark:text-primary-400">
            Learn more
            </a>
        </div>
    </div>
    <!-- service 1 -->
    <div
    class="block max-w-[18rem] rounded-lg bg-gray-200 text-left text-surface shadow-secondary-1 dark:bg-surface-dark dark:text-white">
        <div class="p-6">
            <h5 class="mb-1 text-xl font-medium leading-tight ">
            Residential certificate
            </h5>
            <h6
            class="mb-2 text-base font-medium leading-tight text-surface/75 dark:text-neutral-300">
            Card subtitle
            </h6>
            <p class="mb-4 text-base leading-normal">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
            </p>
            <a
            type="button"
            href="#"
            class="pointer-events-auto me-5 text-blue-500 inline-block cursor-pointer rounded text-base font-normal leading-normal text-primary transition duration-150 ease-in-out hover:text-primary-600 focus:text-primary-600 focus:outline-none focus:ring-0 active:text-primary-700 dark:text-primary-400">
            Card Link
            </a>
            <a
            type="button"
            href="#"
            class="pointer-events-auto inline-block text-blue-500 cursor-pointer rounded text-base font-normal leading-normal text-primary transition duration-150 ease-in-out hover:text-primary-600 focus:text-primary-600 focus:outline-none focus:ring-0 active:text-primary-700 dark:text-primary-400">
            Another Link
            </a>
        </div>
    </div>
    <!-- service 1 -->
    <div
    class="block max-w-[18rem] rounded-lg bg-gray-200 text-left text-surface shadow-secondary-1 dark:bg-surface-dark dark:text-white">
        <div class="p-6">
            <h5 class="mb-1 text-xl font-medium leading-tight ">
            Good conduct
            </h5>
            <h6
            class="mb-2 text-base font-medium leading-tight text-surface/75 dark:text-neutral-300">
            Card subtitle
            </h6>
            <p class="mb-4 text-base leading-normal">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
            </p>
            <a
            type="button"
            href="#"
            class="pointer-events-auto me-5 text-blue-500 inline-block cursor-pointer rounded text-base font-normal leading-normal text-primary transition duration-150 ease-in-out hover:text-primary-600 focus:text-primary-600 focus:outline-none focus:ring-0 active:text-primary-700 dark:text-primary-400">
            Card Link
            </a>
            <a
            type="button"
            href="#"
            class="pointer-events-auto text-blue-500 inline-block cursor-pointer rounded text-base font-normal leading-normal text-primary transition duration-150 ease-in-out hover:text-primary-600 focus:text-primary-600 focus:outline-none focus:ring-0 active:text-primary-700 dark:text-primary-400">
            Another Link
            </a>
        </div>
    </div>
    <!-- service 1 -->
    <div
    class="block max-w-[18rem] rounded-lg bg-gray-200 text-left text-surface shadow-secondary-1 dark:bg-surface-dark dark:text-white">
        <div class="p-6">
            <h5 class="mb-1 text-xl font-medium leading-tight ">
            Special title treatment
            </h5>
            <h6
            class="mb-2 text-base font-medium leading-tight text-surface/75 dark:text-neutral-300">
            Card subtitle
            </h6>
            <p class="mb-4 text-base leading-normal">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
            </p>
            <a
            type="button"
            href="#"
            class="pointer-events-auto me-5 text-blue-500 inline-block cursor-pointer rounded text-base font-normal leading-normal text-primary transition duration-150 ease-in-out hover:text-primary-600 focus:text-primary-600 focus:outline-none focus:ring-0 active:text-primary-700 dark:text-primary-400">
            Card Link
            </a>
            <a
            type="button"
            href="#"
            class="pointer-events-auto inline-block text-blue-500 cursor-pointer rounded text-base font-normal leading-normal text-primary transition duration-150 ease-in-out hover:text-primary-600 focus:text-primary-600 focus:outline-none focus:ring-0 active:text-primary-700 dark:text-primary-400">
            Another Link
            </a>
        </div>
    </div>
</div>
